html {
  color: #fef800;
  font-family: Menlo;
}

body {
  background-image: url("https://picsum.photos/2000");
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  background-position: center;
}

.controls {
  position: fixed;
  text-align: center;
  top: 1em;
  width: 100%;
}

.button {
  color: #4a4a4a;
  font-size: 2vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  color: red;
}

.stopwatch {
  font-size: 10vw;
  text-align: center;
}

.footer {
  position: fixed;
  height: 40px;
  bottom: 90%;
  width: 100%;
}
